<div class = "navbar-header">
  <div class = "navbar navbar-default navbar-fixed-top navbar-static-top">
    <div class = "container">
      <%= link_to "FMI Cazare", root_path, class:"navbar-brand logo" %>

      <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      <div class = "collapse navbar-collapse navHeaderCollapse">
        <ul class = "nav navbar-nav navbar-right">
          <li><%= link_to "Metodologie", "http://www.unibuc.ro/n/student/Metodologie_si_reguli_de_cazare_prevederi_generale.php", target: "_blank"  %></li>
          <li><%= link_to "Prezentare Camine","http://www.unibuc.ro/n/student/Prezentarea_caminelor_Universitatii_din_Bucureti.php", target: "_blank" %> </li>
          <li><%= link_to "Ajutor","/ajutor/"%> </li>
          <% if !@current_user %>
            <li><%= link_to "Autentificare", "/auth/autentificare" %></li>
          <% else %>
            <% if @current_user.accomodation.nil? %>
                <li><a href="/creeaza_cerere">Cerere cazare</a></li>
            <% else %>
                <li><a href="/vezi_cerere">Vezi cererea</a>
            <% end %>
            <!--<li class="divider"></li>
            <li><a href="#">Vezi decizie comisie</a></li>-->
            <!--<li><a href="#">Notificari (0)</a></li>-->
            <li><a href="/logout">Deconectare</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
