<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  Cererea ta a fost depusa cu succes. Te rugam sa o verifici inca o data, iar in caz ca ai sesizat vreo greseala, poti anula cererea si completa una noua.
</div>

<div class="row">
    <div class="col-lg-12">
		<div class="well" style="padding: 20px;">
			<%= form_for @accomodation, :html => { :multipart => true, class: "form-horizontal" } do |f| %>
				<%= token_tag %>
				<fieldset>
		            <h2>Date personale</h2>
		            <br>
					<div class="form-group">
		                <label class="col-lg-2">Nume</label>
						<div class="col-lg-10">
							<%= @current_user.last_name %>
						</div>
					</div>

		            <div class="form-group">
		                <label class="col-lg-2">Prenume</label>
						<div class="col-lg-10">
							<%= @current_user.first_name %>
						</div>
					</div>

		            <div class="form-group">
		                <label class="col-lg-2">Prenume tata</label>
						<div class="col-lg-10">
							<%= @current_user.father_first_name %>
						</div>
					</div>

		            <div class="form-group">
		                <label class="col-lg-2">Prenume mama</label>
						<div class="col-lg-10">
							<%= @current_user.mother_first_name %>
						</div>
					</div>

		            <div class="form-group">
		                <label class="col-lg-2">Adresa</label>
						<div class="col-lg-10">
							<%= @current_user.address %>
						</div>
					</div>

		            <div class="form-group">
		                <label class="col-lg-2">Data nasterii</label>
						<div class="col-lg-10">
							<%= @current_user.date_birth %>
						</div>
					</div>

		            <div class="form-group">
		                <label class="col-lg-2">Locul nasterii</label>
						<div class="col-lg-10">
							<%= @current_user.place_birth %>
						</div>
					</div>

		            <div class="form-group">
		                <label class="col-lg-2">BI/CI Serie</label>
						<div class="col-lg-10">
							<%= @current_user.ic_serie %>
						</div>
					</div>

		            <div class="form-group">
		                <label class="col-lg-2">BI/CI Numar</label>
						<div class="col-lg-10">
							<%= @current_user.ic_number %>
						</div>
					</div>

		            <div class="form-group">
		                <label class="col-lg-2">CNP</label>
						<div class="col-lg-10">
							<%= @current_user.cnp %>
						</div>
					</div>
					
		            <br>
	            	<h2>Upload studii si fisiere</h2>
		            <br>

					<div class="form-group">
		                <label class="col-lg-2">Facultate</label>
						<div class="col-lg-10">
							Matematica-Informatica
						</div>
					</div>

					<div class="form-group">
		                <label class="col-lg-2">Sectie</label>
						<div class="col-lg-10">
							<%= @current_user.specialization %>
						</div>
					</div>

					<div class="form-group">
		                <label class="col-lg-2">An</label>
						<div class="col-lg-10">
							<%= @current_user.year %>
						</div>
					</div>

					<div class="form-group">
		                <label class="col-lg-2">Fisiere uploadate</label>
						<div class="col-lg-10">
							<% @accomodation.documents.each do |document| %>
								<a target="_blank" href="/uploads/<%= @current_user.uid.to_s + '/' + document.name %>"><%= document.name %></a>
								<br>
							<% end %>
						</div>
					</div>

					<br>
					<h2>Date cazare</h2>
		            <br>

					<div class="form-group">
		                <label class="col-lg-2">Anul trecut am domiciliat in caminul</label>
						<div class="col-lg-10">
							<%= Dorm.find(@accomodation.last_dorm).name %>
						</div>
					</div>

					<div class="form-group">
		                <label class="col-lg-2">Camera</label>
						<div class="col-lg-10">
							<%= @accomodation.last_room %>
						</div>
					</div>
				
					<div class="form-group">
		                <label class="col-lg-2">Rog comisia sa tina cont de</label>
						<div class="col-lg-10">
							<%= (!@accomodation.is_continuity.nil?) ? 'continuitate' : '' %>
							<br>
							<%= (!@accomodation.is_social.nil?) ? 'situatie sociala' : '' %>
						</div>
					</div>

					<div class="form-group">
		                <label class="col-lg-2">Preferinte camin 1</label>
						<div class="col-lg-10">
							<%= Dorm.find(@accomodation.dorm_pref_1).name %>
						</div>
					</div>
					
					<div class="form-group">
		                <label class="col-lg-2">Preferinte camin 2</label>
						<div class="col-lg-10">
							<%= Dorm.find(@accomodation.dorm_pref_2).name %>
						</div>
					</div>

					<div class="form-group">
		                <label class="col-lg-2">Preferinte camin 3</label>
						<div class="col-lg-10">
							<%= Dorm.find(@accomodation.dorm_pref_3).name %>
						</div>
					</div>

					
					<div class="form-group">
		                <label class="col-lg-2">Preferinta coleg</label>
						<div class="col-lg-10">
							<%= @accomodation.roommate_pref %>
						</div>
					</div>

					<br>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="button" onclick="cancelRequest(<%= @accomodation.id %>)" class="btn btn-danger">Anuleaza cerere</button>
						</div>
					</div>
				
				</fieldset>
			<% end %>
		</div>
	</div>
</div>




<script type="text/javascript">


	function cancelRequest(id) {
		$.ajax({
		    url: '/accomodations/' + id,
		    type: 'DELETE',
		    dataType: 'JSON',
		    success: function(result) {
		        window.location.href = result.data;
		    },
		    error: function(result) {
		    	console.log(result);
		    }
		});
	}

</script>